HOST=dns1                       # replace with your server's hostname
DOMAIN=localhost.localdomain    # replace with your server's domain
IPV4=127.0.0.1                  # replace with your server's ip
#IPV6=None                      # optional: uncomment and replace with your server's ip
