CONFIG_URL=https://raw.githubusercontent.com/ragibkl/adblock-dns-server/master/data/configuration.yaml
FQDN=dns.localhost.localdomain
IPV4=0.0.0.0
IPv6=::
TLS_DOMAIN=dns1.example.com
TLS_EMAIL=user@example.com
TLS_ENABLED=false
